<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <input placeholder="City" id="typeahead-config" type="text" class="form-control" [(ngModel)]="city" [ngbTypeahead]="searchCity" (ngModelChange)="newCityValue($event)" />
      </div>
    </div>
    <!-- we cannot filter out by dept if stacked, because chart.js is not ready to decrease the array -->
    <!--<div class="col">
       <div class="input-group">
        <input placeholder="Department" id="typeahead-config" type="text" class="form-control" [(ngModel)]="department" [ngbTypeahead]="searchDepartment"/>
      </div>
    </div>-->
    <div class="col">
      <div class="input-group">
        <input  class="form-control" placeholder="yyyy-mm-dd"
                name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="city ? d.toggle() : ''">
          <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </div>
      </div>
    </div>

    <div class="col">
      <button [disabled]="!searchEventsEnabled()" class="btn btn-primary float-right" type="submit" (click)="searchEvents()" >Search</button>
    </div>
  </div>
  
  <div class="row">
  </div>

  <div class="row" style="padding-top: 10px" *ngIf="!topUsers">
    <div class="col-md-12">
    <div class="jumbotron">

      <p class="lead text-center">Please click search after setting city and date</p>
      
    </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10px" [hidden]="!topUsers">
    <div class="col-md-12" *ngIf="barChartData && barChartLabels">
      <div >
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="barChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <!--<button (click)="randomize()">Update</button>-->
    </div>
    <!--<div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of barChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of barChartData">
        <td *ngFor="let label of barChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    </div>-->
  </div>

  <div class="row" style="padding-top: 10px" *ngIf="topUsers && topUsers.length > 0" >
    <div class="col-md-6">
    <table class="table table-responsive table-condensed">
      <tr>
        <th class="text-center">#Position</th><th >Username</th><th class="text-center">Score</th>
      </tr>
      <tr *ngFor="let user of topUsers; let i = index">
        <td class="text-center">{{i + 1}}</td><td>{{user.username}}</td><td class="text-center">{{user.score}}</td>
      </tr>
    </table>
    </div>
    <div class="col-md-6">
    <table class="table table-responsive table-condensed">
      <tr>
        <th >#Position</th><th >Department</th><th >Score</th>
      </tr>
      <tr *ngFor="let department of topDepartments; let i = index">
        <td class="text-center">{{i + 1}}</td><td>{{department.name | uppercase}}</td><td class="text-center">{{department.score}}</td>
      </tr>
    </table>
    </div>
  </div>
  
</div>

