<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <!--<label for="typeahead-config">City</label>-->
        <input placeholder="City" id="typeahead-config" type="text" class="form-control" [(ngModel)]="city" [ngbTypeahead]="search" (ngModelChange)="newCityValue($event)" />
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <input  class="form-control" placeholder="yyyy-mm-dd"
                name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="city ? d.toggle() : ''">
          <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </div>
      </div>
    </div>

    <div class="col">
      <button [disabled]="!searchEventsEnabled()" class="btn btn-primary" type="submit" (click)="searchEvents()" >Search</button>
    </div>
  </div>
  
  <div class="row">
  </div>

  <div class="row">
    <div class="col-md-12" *ngIf="barChartData && barChartLabels">
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <!--<button (click)="randomize()">Update</button>-->
    </div>
  </div>

  
</div>

